@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --palette-1: #F2AF29;
    --palette-2: #AD343E;
    --palette-3: #5a6a85;
    --palette-4: #b1ebb9;
    --palette-5: #0A1145;
}


body {
    background-image: url(./bg.svg);
    background-position: center center;
    background-size: contain;
    color: white;
    width: 100%;
    height: 100%;

    font-family: 'Nunito', sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
}



main {
    position: relative;
    height: 100%;
    width: 100%;

    display: flex;
}
.left, .right { 
    width: 50%; 
    height: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.left { flex-direction: column;}
.left h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}
.left p {
    padding: 1rem 3rem;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(255, 255, 255);

    background-color: rgba(0,0,0,0.2);
    width: 80%;
    border-radius: 15px;
}
.left a {
    color: #1d2a8f;
}























.shopping-list {
    height: 90%;
    width: 80%;
    position: relative;

    display: flex;
    flex-direction: column;
    
}
.shopping-list:after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    box-shadow: 0 0 50px 10px rgb(0, 0, 0);
    transform-origin: center center;
    scale: 0.95;
    z-index: -1;
}

.shopping-list .top {
    width: 100%;
    height: 90%;
    background-color: black;
    border-radius: 15px 15px 0 0;

    position: relative;
    overflow-y: scroll;
}
.shopping-list .top::after {
    display: inline-block;
    position: sticky;
    content: '';
    inset: 0;
    height: 100%;
    width: 100%;
    
    background-image: url('./wa.png');
    background-position: center center;
    background-size: cover;
    opacity: 0.2;
}


.top ul {
    margin: 1.5rem 3rem;
    
}
.top ul li {
    font-size: 1.5rem;
    position: relative;
    
    list-style: none;
    display: flex;
    margin-bottom: 1rem;
}
.top ul li div {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top ul li button {
    position: relative;
    z-index: 2;

    height: 1.5rem;
    width: 1.5rem;

    padding: 2px;
    border-radius: 50%;
    border: none;
    background-color: var(--palette-2);
    color: white;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 1.2rem;
}




.shopping-list .top::-webkit-scrollbar {width: 12px;}
/* Track */
.shopping-list .top::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/* Handle */
.shopping-list .top::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(100, 100, 100, 0.4); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.shopping-list .top::-webkit-scrollbar-thumb:window-inactive {background: rgba(100, 100, 100, 0.4); }




.shopping-list .bott {
    height: 10%;
    width: 100%;
    background-color: var(--palette-3);
    border-radius: 0 0 15px 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

input#articolo {
    flex-grow: 1;
    height: 2rem;
    margin: 0 1rem 0 2rem;

    border-radius: 5px;
    border: none;
}
.bott button {
    height: 2rem;
    padding: 0.2rem 1rem;
    margin: 0 2rem 0 1rem;
    border-radius: 5px;
    border: none;
    background-color: var(--palette-4);
}















.credits {
    position: absolute;
    right: 0;
    bottom: 0;
}